<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PentaxBlog</title>
    <link rel="stylesheet" th:href="@{asset/css/styles/style.css}">
    <link rel="stylesheet" th:href="@{asset/css/styles/nav.css}">
    <link rel="stylesheet" th:href="@{asset/css/styles/footer.css}">
    <link rel="stylesheet" th:href="@{asset/css/styles/blog-post.css}">
    <link rel="stylesheet" th:href="@{asset/css/styles/home.css}">
    <link rel="stylesheet" th:href="@{asset/css/animate.css}">
    <link rel="stylesheet" th:href="@{asset/css/media-query/nav.css}">
    <link rel="stylesheet" th:href="@{asset/css/media-query/footer.css}">
    <link rel="stylesheet" th:href="@{asset/css/media-query/blog-post.css}">
    <link rel="stylesheet" th:href="@{asset/css/media-query/home.css}">
    <script src="https://kit.fontawesome.com/e2052a1ca7.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <nav th:insert="fragments.html :: topnav"></nav>
<!--    <nav>-->
<!--        <div class="logo">-->
<!--            <a href="/posts">-->
<!--                <h1>PentaBlog</h1>-->
<!--            </a>-->
<!--            <div class="toggle">-->
<!--                <a href="">-->

<!--                </a>-->
<!--                <button>-->
<!--                    <i class="fas fa-bars"></i>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

<!--        <ul class="links">-->
<!--            <li><a href="posts">Home</a></li>-->
<!--            <li><a href="/posts/create">Create Post</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
    <!-- Navigation end   -->

    <!-- Header section -->
    <header id="back-top">
        <h1>Hello! This is PentaxBlog.</h1>
        <div class="flag">
            <p>The </p>
            <img src="./asset/images/amazone.png">
            <p>of semicolon africa</p>
        </div>
        <a href="#blog">
            <button>Discover more</button>
        </a>

    </header>
    <!-- Header section end -->
</div>

    <!--    Blog post-->
    <div id="blog" class="blog-post-container">
        <div class="blog-post" th:each="post : ${posts}">
            <a href="./asset/pages/post.html" class="img-container">
                <img th:src="${post.coverImageUrl == null ? './asset/images/amazone.png' : post.coverImageUrl}" alt="blog-img">
            </a>
            <a href="./asset/pages/post.html" class="post-title" th:text="${post.title}"></a>
            <div class="blog-post-detail">
                <a class="user-detail">
                    <img src="" class="user-profile">
                    <a href="" class="user-name">Jen Lopez</a>
                </a>

                <p class="date-published" th:text="${post.dateCreated}"></p>

                <a href="" class="actions">
                    <p><i class="far fa-comment"></i></p>
                    <p><span class="comment-count">35</span> Comments</p>
                </a>
            </div>
            <div class="post-content">
                <p th:text="${post.content}"></p>
            </div>
            <a th:href="@{/posts/{postTitle}(postTitle = ${post.title})}">
                <button class="view-post">
                    continue reading
                </button>
            </a>
        </div>
        <div class="diff"></div>

    </div>
    <!--   Blog post end-->

    <!-- Footer -->

    <footer th:insert="fragments.html :: footer"></footer>

<!--    <footer>-->
<!--        <div class="footer-flex">-->
<!--            <div class="footer-item studio">-->
<!--                <h3>PentaBlog Studio</h3>-->
<!--                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut-->
<!--                    labore et dolore magna aliquyam erat, sed diam voluptua.</p>-->
<!--                <p>Copyright © 2021 Your Company - Design: Whalewalker </p>-->
<!--            </div>-->
<!--            <div class="footer-item">-->
<!--                <h3>Talk to us</h3>-->
<!--                <p> 312 Delicious Street, San Francisco, CA 10880</p>-->
<!--                <p>09075617573</p>-->
<!--                <p>ohida@gmail.com</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="media">-->
<!--            <button>-->
<!--                <a href="#" class="fa fa-facebook"></a>-->
<!--            </button>-->
<!--            <button><a href="#" class="fa fa-twitter"></a></button>-->
<!--            <button>-->
<!--                <a href="#" class="fa fa-google-plus"></a>-->
<!--            </button>-->
<!--            <button><a href="#" class="fa fa-dribbble"></a></button>-->
<!--            <button><a href="#" class="fa fa-linkedin"></a></button>-->
<!--        </div>-->
<!--    </footer>-->
    <!-- Footer -->

    <a href="#back-top" class="go-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

    <!-- Scripts -->
    <script src="asset/scripts/app.js"></script>
</body>

</html>