<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PentaxBlog</title>
    <link rel="stylesheet" th:href="@{/asset/css/styles/style.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/nav.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/footer.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/blog-post.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/home.css}">
    <link rel="stylesheet" th:href="@{/asset/css/animate.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/nav.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/footer.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/blog-post.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/home.css}">
<!--    <script src="https://kit.fontawesome.com/e2052a1ca7.js" crossorigin="anonymous"></script>-->

</head>

<body>




<nav th:insert="fragments.html :: topnav"></nav>
    <!-- Navigation end   -->

    <!-- Post Container -->
    <div class="post-header">
        <img th:src="${singlePost.getCoverImageUrl()}" />
    </div>
    <!-- Post Container end -->

    <!-- Post -->

    <div class="blog-post-container"  th:object="${singlePost}">
        <div class="blog-post">
<!--            <a hre></a>-->
            <p class="post-title" th:text="${singlePost.getTitle()}"></p>
            <div class="blog-post-detail">
                <a class="user-detail">
                    <img th:src="${singlePost.getCoverImageUrl()}" class="user-profile">
                    <a href="" class="user-name">Jen Lopez</a>
                </a>

                <p class="date-published" th:text="${singlePost.getDateCreated()}"> </p>

                <a href="" class="actions">
                    <p><i class="far fa-comment"></i></p>
                    <p><span class="comment-count">35</span> Comments</p>
                </a>
            </div>
            <div class="post-content" th:text="${singlePost.getContent()}"></div>

            <!-- Comment -->
<!--        <div class="comment-container">-->
<!--            <div class="diff"></div>-->
<!--            <h2>Comments</h2>-->

<!--            <div class="comments">-->
<!--                <div class="commentator">-->
<!--                    <img src="../static/asset/images/comment-image1.jpg" alt="commentator" class="commentator-img"/>-->
<!--                    -->
<!--                    <div class="commentator-detail">-->
<!--                        <h3 class="name">David Jones</h3>-->
<!--                        <p class="comment-date">3 days ago</p>-->
<!--                        <p class="content">Aliquam gravida arcu at risus blandit, in interdum metus varius. Cras-->
<!--                            efficitur, ex sit amet tincidunt rhoncus, dui ex hendrerit risus, ac dapibus ligula mi id-->
<!--                            leo. In auctor dui justo, ac consequat dui posuere ac.</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="commentator">-->
<!--                    <img src="../static/asset/images/comment-image1.jpg" alt="commentator" class="commentator-img"/>-->
<!--                    -->
<!--                    <div class="commentator-detail">-->
<!--                        <h3 class="name">David Jones</h3>-->
<!--                        <p class="comment-date">3 days ago</p>-->
<!--                        <p class="content">Aliquam gravida arcu at risus blandit, in interdum metus varius. Cras-->
<!--                            efficitur, ex sit amet tincidunt rhoncus, dui ex hendrerit risus, ac dapibus ligula mi id-->
<!--                            leo. In auctor dui justo, ac consequat dui posuere ac.</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="commentator">-->
<!--                    <img src="../static/asset/images/comment-image1.jpg" alt="commentator" class="commentator-img"/>-->
<!--                    -->
<!--                    <div class="commentator-detail">-->
<!--                        <h3 class="name">David Jones</h3>-->
<!--                        <p class="comment-date">3 days ago</p>-->
<!--                        <p class="content">Aliquam gravida arcu at risus blandit, in interdum metus varius. Cras-->
<!--                            efficitur, ex sit amet tincidunt rhoncus, dui ex hendrerit risus, ac dapibus ligula mi id-->
<!--                            leo. In auctor dui justo, ac consequat dui posuere ac.</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="commentator">-->
<!--                    <img src="../static/asset/images/comment-image1.jpg" alt="commentator" class="commentator-img"/>-->
<!--                    -->
<!--                    <div class="commentator-detail">-->
<!--                        <h3 class="name">David Jones</h3>-->
<!--                        <p class="comment-date">3 days ago</p>-->
<!--                        <p class="content">Aliquam gravida arcu at risus blandit, in interdum metus varius. Cras-->
<!--                            efficitur, ex sit amet tincidunt rhoncus, dui ex hendrerit risus, ac dapibus ligula mi id-->
<!--                            leo. In auctor dui justo, ac consequat dui posuere ac.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="diff"></div>

        <!--Form-->
<!--            <form action="">-->
<!--                <h2>Leave a Comment</h2>-->

<!--                <input type="text" name="text" id="text" placeholder="Name">-->
<!--                <input type="email" name="email" id="email" placeholder="Email">-->
<!--                <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>-->
<!--                <input type="submit" value="post your comment">-->
<!--            </form>-->
        <!-- Form-->
        </div>
        <!-- Comment end-->

        </div>
        <!-- Post end -->

        
        <!-- Footer -->
        <footer th:insert="fragments.html :: footer"></footer>
        <!-- Footer -->

        <!-- Scripts -->
        <script src="../static/asset/scripts/app.js"></script>
</body>

</html>